.container {
    max-width: 120rem; //occupy 1200px if possible, otherwise 100%
    min-height: 50rem; //for testing purposes
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
}

.description {  
    background-color: #fff;
    font-size: 1.4rem;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%; //Don't grow, don't shrink, and fill 60% of the container
    margin-right: 4.5rem;
}

.user-reviews {
    background-color: #fff;
    box-shadow: var(--shadow-light);

    flex: 1; //By setting this to 1 it will grow to occupy the remaining space
}