.container {
    max-width: 120rem; //occupy 1200px if possible, otherwise 100%
    min-height: 50rem; //for testing purposes
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    @media only screen and (max-width: $bp-largest) { //Note we are using a desktop first strategy
        margin: 0; //Up to 1200px we don't want a margin
        max-width: 100%; //When we decrease the font-size at 1100px, we need to adjust the width
        width: 100%;
    }
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) { 
        flex-wrap: wrap;
        height: 11rem;
        align-content: space-around;
    }
}

.content {
    display: flex;

    @media only screen and (max-width: $bp-medium) { //Note we are using a desktop first strategy
        flex-direction: column;
    }
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    font-size: 1.4rem;
    border-bottom: var(--line);

    @media only screen and (max-width: $bp-medium) { 
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-small) { 
        flex-direction: column;
    }
}

.description {  
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%; //Don't grow, don't shrink, and fill 60% of the container
    margin-right: 4.5rem;

    @media only screen and (max-width: $bp-medium) { 
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-small) { 
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews {
    flex: 1; //By setting this to 1 it will grow to occupy the remaining space
    display: flex;
    flex-direction: column;
    align-items: center;
}